<%- include('../partials/header') %>
<div class="container">
  <div class="row mt-4">
    <div class="col-md-3">
      <p class="lead">Sidebar</p>
      <div class="list-group">
        <li class="list-group-item active">info 1</li>
        <li class="list-group-item">info 2</li>
        <li class="list-group-item">info 3</li>

        <div class="mb-4">Google map section</div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <img src="<%= campgrounds.image %>" class="img-thumbnail camp-show-img" alt="" />
          <div class="card-padding mt-2 p-3">
            <p><em> <img class="avatar" src="<%= user.avatar %> " alt=""><a
                  href="/users/<%= campgrounds.author.username %>"><%= campgrounds.author.username %>
                </a> |
                <%= campgrounds.created.toDateString() %></em>
            </p>
            <h5 class="float-right">#<%= campgrounds.price %>/day</h5>
            <h4 class="card-title"><%= campgrounds.name %></h4>
            <p class="card-text"><%= campgrounds.description %></p>

            <% if(currentUser && campgrounds.author.id.equals(currentUser._id)){ %>
            <a href="/campgrounds/<%= campgrounds._id %>/edit" class="btn btn-warning">Edit</a>
            <form id="delete-form" action="/campgrounds/<%= campgrounds._id %>?_method=DELETE" method="post">
              <button class="btn btn-danger">Delete</button>
            </form>
            <% } %>

          </div>
        </div>
      </div>

      <div class="card mt-2">
        <div class="card-footer">
          <div class="text-right">
            <a class="btn btn-success" href="/campgrounds/<%= campgrounds._id %>/comments/new">Post a Comment</a>
          </div>

          <% campgrounds.comments.forEach(comment =>{ %>
          <div class="row">
            <div class="col-md-12">
              <hr />
              <strong><img class="avatar" src="<%= user.avatar %> " alt="">
                <a href="/users/<%= comment.author.username %>"><%= comment.author.username %>
                </a></strong>
              <span class="float-right text-muted"><%= comment.created.toDateString()  %></span>
              <p><%= comment.text %></p>

              <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
              <a class="btn btn-warning btn-sm"
                href="/campgrounds/<%= campgrounds._id %>/comments/<%=comment._id %>/edit">Edit
              </a>
              <form class="delete-form"
                action="/campgrounds/<%= campgrounds._id %>/comments/<%=comment._id %>?_method=delete" method="post">
                <button class="btn btn-danger">Delete</button>
              </form>
              <% } %>

            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %><a
  href="/users/<%= campgrounds.author.username %>"><%= campgrounds.author.username %>
</a>